@import url("https://fonts.googleapis.com/css2?family=Gugi&family=VT323&display=swap");
* {
  font-family: "Gugi", cursive;
  cursor: crosshair;
}

form {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  flex-direction: column;
  margin: 90px auto;
  width: 350px;
  align-items: center;
  text-shadow: 1px 1px 50px #fff, 1px 1px 5px rgb(255, 42, 227);
  color: rgb(255, 42, 227);
  border-radius: 2rem;
  padding: 20px;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.9);
}

form input {
  margin: 10px;
  background-color: rgba(220, 187, 243, 0.733);
  color: white;
  border-radius: 1rem;
  padding: 5px;
  width: 170px;
}
.LoginDiv h1 {
  margin-top: 30px;
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 40px #fff, 1px 1px 10px rgb(42, 212, 255);
}
.FormDiv h1 {
  margin-top: 30px;
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 40px #fff, 1px 1px 10px rgb(42, 212, 255);
}
.RegisterSubmitButton {
  border-radius: 2.5em;
}
.RegisterSubmitButton:hover {
  background-color: rgba(164, 234, 252, 0.8);
}
.HomePage {
  /* background-color: rgb(42, 212, 255, 0.5); */
  color: white;
  display: flex;
  flex-direction: row-reverse;
  padding: 40px;
  margin: 10px;
  margin-top: 50px;
}
img {
  opacity: 0.7;
}
img:hover {
  opacity: 1;
}
.UserPage {
  background-color: rgb(221, 158, 229, 0.5);
  /* width: 150px; */
  height: 240px;
  margin-left: auto;
  margin-right: 100px;
  padding: 20px;
  border-radius: 1.4em;
  box-shadow: 0px 0px 30px rgb(221, 158, 229, 0.5);
  text-align: center;
  flex: auto;
  flex-direction: column;
}
.SocialMediaFeed {
  background-color: rgb(221, 158, 229, 0.5);
  width: 700px;
  margin: auto;
  margin-right: 20px;
  margin-top: 30px;
  border-radius: 1.5em;
  box-shadow: 0px 0px 30px rgb(221, 158, 229, 0.5);
  text-align: center;
}
.SocialMediaFeed h1 {
  margin: auto;
}

.SMFormDiv {
  margin-top: 0;
}

.SMForm {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 20px;
  width: 450px;
  height: 220px;
}
.LogoutButton {
  margin-left: 250px;

  border-radius: 0.5rem;
}
input {
  padding: 50px;
}
.p5-sketch {
  z-index: -2;
}
.SocialMediaPost li {
  list-style-type: none;
  padding: 10px;
}
.SocialMediaPost {
  background-color: rgba(200, 200, 250, 0.8);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 1.5em;
  display: block;
  box-shadow: 0px 0px 5px rgba(255, 255, 250, 0.8);
}
button {
  border-color: rgba(200, 200, 250, 0.8);
}
.MessageInput {
  background-color: rgba(87, 244, 255, 0.4);
  color: rgb(31, 143, 177);
  border-radius: 1.2em;
  border-color: rgb(221, 158, 229);
  padding: 10px;
}
.FeaturedImage {
  width: 200px;
  border: solid 2px rgb(221, 158, 229);
}
.SocialMediaContainer {
  height: 30vh;
  overflow: auto;
}
.SMFormDiv img {
  width: 250;
}
::-webkit-scrollbar {
  width: 12px;
  padding-bottom: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #c5f8ff);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, white);
}
